<!----цей дів не використовувати. тільки для відступів -->
<div class="temporary">

<div class="slider">
  <div class="slider__title">
<h2 class="slider__text">Support Ukraine</h2>
 <svg class="slider__icon" width="20" height="32">
        <use href="/src/images/sprite.svg#icon-tryzub"></use>
      </svg>
  </div>
  

<div class="swiper-container">
  <div class="swiper-wrapper">
 
    
  </div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
</div>

</div>


