<!-- Кнопка для імітації кліку -->
<div class="modal is-hidden about-book-modal">
  <button id="modal-close" class="close-modal-btn" type="button">
    <img
      width="24"
      height="24"
      src="/src/images/png-icons/modal/close-icon.png"
      alt="close-icon"
    />
  </button>
  <div id="allModal"></div>
  <div class="storage-button-wrapper">
    <button type="button" class="add-storage-button">
      Add to shopping list
    </button>

    <div class="remove-modal-btn">
      <button type="button" class="storage-delete-button">
        'Remove from the shopping list';
      </button>

      <p class="storage-description"></p>
    </div>
  </div>
</div>
