<div class="modal register-modal">
  <button class="close-modal-btn" type="button">
    <img
      width="28"
      height="28"
      src="/src/images/png-icons/modal/close-white-icon.png"
      alt="close-icon"
    />
  </button>

  <form class="register-form" id="formId">
    <input class="modal-input" type="text" placeholder="Name" id="nameId" />
    <label class="modal-label" for="emailId">
      <img
        class="modal-icon"
        width="28"
        height="28"
        src="/src/images/png-icons/modal/mail-white-icon.png"
        alt="mail-icon"
      />
      <input
        class="modal-input"
        type="email"
        placeholder="Email"
        id="emailId"
      />
    </label>
    <label class="modal-label" for="passwordId">
      <img
        class="modal-icon"
        width="28"
        height="28"
        src="/src/images/png-icons/modal/lock-white-icon.png"
        alt="lock-icon"
      />
      <input
        class="modal-input"
        type="password"
        placeholder="Password"
        id="passwordId"
      />
    </label>
    <button type="submit">Sign Up</button>
  </form>
  <button class="current-modal">Sign Up</button>
  <button>Sign In</button>
</div>
