///////видалити в загальному проекті
.temporary{
  margin-top: 86px;
  margin-left: 24px;
}
///////////

.slider {

   max-height: 490px; 
  width: 356px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4F2EE8 18.03%,
    #FFFFFF 100%
  );
  
}
// &__title{
//   display: flex;
// 
// }
// &__text{
//   color: black;
// }
// &__icon{
//   fill: white;
// }
// }


// .swiper-container {
//   height: 159px; 
//   width: 292px;
// }
// .load-more-button{
//   margin-top: 250px;
// }

