.anchor-btn{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 85%;
    right: 2%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background-color: $main-brand-colour;
    border-radius: 50%;
    border: 10px solid transparent;

    transition: border 500ms $cubic;
    transition: opacity 1500ms $cubic;

    // rgba(79, 46, 232, 0.3);

    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
    }
    
    &:hover{
        border: 5px solid rgba(213, 184, 255, 0.7);            
    }
}


.anchor-icon{
    fill: #fff;
}
