// тестовий блок Ольги
.aside-container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: $tabletMin) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 100px;
  }
  @media screen and (min-width: $desktopMin) {
    flex-direction: column;
    gap: 86px;
    margin-bottom: 0;
  }
}
.Olha__block {
  background-color: purple;
  height: 352px;
  width: 335px;

  @media screen and (min-width: $tabletMin) {
    height: 472px;
  }
}

.category {
  height: 228px;
  overflow: auto;
  width: 335px;
  @media screen and (min-width: $tabletMin) {
    height: 472px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    letter-spacing: -0.02em;

    @media screen and (min-width: $tabletMin) {
      gap: 32px;
      line-height: 1.33;
    }

    &--button {
      border: none;
      width: auto;
      background-color: initial;
      color: initial;
      text-align: initial;
      padding: 0;
      color: rgba(17, 17, 17, 0.6);

      &:hover {
        color: $hover-light-theme;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.125;

        @media screen and (min-width: $tabletMin) {
          font-size: 18px;
          line-height: 1.33;
        }
      }
    }
  }
}

// scroll

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
}

.category-title {
  margin-top: 40px;
  max-width: 320px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -0.04em;

  @media screen and (min-width: $tabletMin) {
    font-size: 48px;
    line-height: 1.08;
    max-width: 704px;
  }
  @media screen and (min-width: $desktopMin) {
    max-width: 996px;
  }
}

.book {
  margin-bottom: 40px;

  img {
    max-width: 335px;
    border-radius: 8px;
    min-width: 335px;
    margin-bottom: 14px;

    @media screen and (min-width: $tabletMin) {
      min-width: 218px;
      max-width: 218px;
      height: 316px;
    }
    @media screen and (min-width: $desktopMin) {
      min-width: 180px;
      max-width: 180px;
      height: 256px;
    }
  }

  h3 {
    font-weight: 700;
    margin-bottom: 4px;
    max-width: 335px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: $primary-colour;

    @media screen and (min-width: $tabletMin) {
      max-width: 218px;
    }
    @media screen and (min-width: $desktopMin) {
      max-width: 180px;
    }
  }

  p {
    font-size: 12px;
    line-height: 1.16;
    font-style: italic;
    color: $main-background;
    @media screen and (min-width: $tabletMin) {
      max-width: 218px;
    }
    @media screen and (min-width: $desktopMin) {
      max-width: 180px;
    }
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.highlight {
  color: #4f2ee8;
}

.category__books {
  @media screen and (min-width: $tabletMin) {
    display: flex;
    gap: 25px;
    width: 704px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktopMin) {
    width: 996px;
    gap: 24px;
  }
}

.aside-flex {
  display: block;
  @media screen and (min-width: $desktopMin) {
    display: flex;
    gap: 40px;
  }
}

// POP
