.side-bar {
  display: flex;
  flex-direction: column;
  // width: 335px;
  max-width: 335px;
  gap: 40px;
  margin-right: 40px;

  @media screen and (min-width: $tabletMin) {
    // width: 672px;
    max-width: 672px;
    gap: 32px;
    flex-direction: row;
    margin-right: 0;
  }
  @media screen and (min-width: $desktopMin) {
    // width: 356px;
    max-width: 356px;
    flex-direction: column;
    gap: 86px;
  }
}

// .aside-container {
//   display: flex;
//   flex-direction: column;
//   gap: 40px;

//   @media screen and (min-width: $tabletMin) {
//     flex-direction: row;
//     gap: 32px;
//     margin-bottom: 100px;
//   }
//   @media screen and (min-width: $desktopMin) {
//     flex-direction: column;
//     gap: 86px;
//     margin-bottom: 0;
//   }
// }

.category {
  height: 228px;
  overflow: auto;
  width: 356px;

  @media screen and (min-width: $tabletMin) {
    height: 472px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    letter-spacing: -0.02em;

    @media screen and (min-width: $tabletMin) {
      gap: 32px;
      line-height: 1.33;
    }

    &--button {
      border: none;
      width: auto;
      background-color: initial;
      color: initial;
      text-align: initial;
      padding: 0;
      color: rgba(17, 17, 17, 0.6);

      &:hover {
        color: $hover-light-theme;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.125;

        @media screen and (min-width: $tabletMin) {
          font-size: 18px;
          line-height: 1.33;
        }
      }
    }
  }
}

// scroll

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
}

.category-title {
  // margin-top: 40px;
  max-width: 320px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 1.18;
  letter-spacing: -0.04em;
  margin-top: 40px;

  @media screen and (min-width: $tabletMin) {
    font-size: 48px;
    line-height: 1.08;
    max-width: 704px;
    margin-top: 100px;
    margin-right: 0;
  }
  @media screen and (min-width: $desktopMin) {
    max-width: 996px;
    margin-top: 0px;
  }
}

.highlight {
  color: #4f2ee8;
}

.books {
  cursor: pointer;
  margin-bottom: 40px;
  position: relative;

  img {
    max-width: 335px;
    border-radius: 8px;
    min-width: 335px;
    margin-bottom: 14px;

    @media screen and (min-width: $tabletMin) {
      min-width: 218px;
      max-width: 218px;
      height: 316px;
    }
    @media screen and (min-width: $desktopMin) {
      min-width: 180px;
      max-width: 180px;
      height: 256px;
    }
  }

  h3 {
    font-weight: 700;
    margin-bottom: 4px;
    max-width: 335px;
    line-height: 1.25;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: $primary-colour;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    @media screen and (min-width: $tabletMin) {
      max-width: 218px;
    }
    @media screen and (min-width: $desktopMin) {
      max-width: 180px;
    }
  }

  p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    line-height: 1.16;
    font-style: italic;
    color: $paragraph-colour;
    @media screen and (min-width: $tabletMin) {
      max-width: 218px;
    }
    @media screen and (min-width: $desktopMin) {
      max-width: 180px;
    }
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.category__books {
  @media screen and (min-width: $tabletMin) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // gap: 25px;
    // width: 704px;
    max-width: 704px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktopMin) {
    // width: 996px;
    max-width: 996px;
    // gap: 24px;
  }
}

.aside-flex {
  display: block;
  @media screen and (min-width: $desktopMin) {
    display: flex;
    gap: 40px;
  }
}

// POP

.book-popup {
  position: absolute;
  bottom: 55px;
  height: 70px;
  width: 335px;
  opacity: 0;
  visibility: hidden;
  background-color: $hover-dark-theme;
  color: $primary-colour;
  padding: 26px 52px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  border-radius: 0px 0px 8px 8px;

  transform: translateY(100%);
  transition: opacity 1s $cubic;

  @media screen and (min-width: $tabletMin) {
    width: 218px;
  }
  @media screen and (min-width: $desktopMin) {
    width: 180px;
  }
}

.books:last-child .book-popup {
  @media screen and (min-width: $tabletMin) {
    bottom: 95px;
  }
}

.books:hover .book-popup {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.flex-category {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tabletMin) {
    align-items: center;
  }

  @media screen and (min-width: $desktopMin) {
    flex-direction: row;
    align-items: flex-start;
  }
}
