.dark {
  background-color: $modal-dark-background;
}

.dark .header {
  background-color: $dark-theme-background;
  border: 1.5px solid #fff;
  border-radius: 0px 0px 8px 8px;
}

.dark .header__logo-text {
  color: $secondary-colour;
}
.dark .nav__item {
  color: $secondary-colour;

  &:hover,
  &:focus {
    color: $primary-colour;
  }
}
.dark .nav__link-icon {
  fill: $secondary-colour;

  &:hover,
  &:focus {
    fill: $primary-colour;
  }
}

.dark #btn-hamburger .line-1 {
  background-color: $secondary-colour;
}

.dark #btn-hamburger .line-2 {
  background-color: $secondary-colour;
}

.dark #btn-hamburger .line-3 {
  background-color: $secondary-colour;
}

.dark #btn-hamburger .line-4 {
  background-color: $secondary-colour;
}
.dark .category__list--button {
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $hover-dark-theme;
  }
}
.dark .category-title {
  color: $secondary-colour;
}

.dark .book h3 {
  color: $secondary-colour;
}
.dark .btn-look {
  color: $secondary-colour;
  background-color: $modal-dark-background;
}
.dark .about-book-modal {
  background-color: $modal-dark-background;
}
.dark .button--close-icon {
  fill: #fff;
}

.dark .close-modal-btn {
  background: $modal-dark-background;
}

.dark .title-about-book-modal {
  color: $secondary-colour;
}
.dark .text-about-book-modal {
  color: $secondary-colour;
}
.dark .modal-id-buttons {
  background: $modal-dark-background;
  color: $secondary-colour;
}
